* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.information {
    transform: translateX(-100%);
    transition: all 0.3s ease-in;
}

.reveal {
    transform: translateX(0);
}



body {
    font-family: 'Poppins', sans-serif;
}

section {
    min-height: 100vh;
    background-color: white;
}

.hero {
    background-color: black;
    color: white;
    font-size: 40px;
    height: 100vh;
    padding: 20px;
}

footer {
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

.title {
    font-size: 90px;
    margin: 0;
}

.title-description {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.hero-area {
    display: flex;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 40px;
    text-align: center;
    background-color: #333;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
}

h2 {
    font-size: 50px;
    margin: 30px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    height: 300px;
    transition: all 2s;
}

.headshot-transition {
    width: 400px;
    height: 400px;
    border-radius: 200px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(169, 165, 165);
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.about-me-description {
    font-size: 18px;
}

.project-image {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 250px;
    height: 250px;
    border-radius: 120px;
}

.phone-image {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    display: none;
}

hr {
    width: 100%;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-bottom: 25px;
}

.contact input, .contact textarea, .contact button {
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: #ddd;
    border-radius: 7.5px;
}

.contact button {
    background-color: #333;
    cursor: pointer;
    color: #fff;
}


.footer-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social-footer {
    margin: 10px;
}

@media only screen and (max-width: 1000px) {

    .sub-section {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 40px;
    }

    .title {
        font-size: 50px;
    }

    .title-description {
        font-size: 25px;
        margin: 10px;
    }

    .headshot {
        width: 300px;
        border-radius: 150px;
        height: 300px;
    }

    .headshot-transition {
        width: 350px;
        height: 350px;
    }

    .headshot-container {
        margin-top: 30px;
    }

    .hamburger {
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        display: block;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        margin: 0px;
    }

    .hero-area {
        flex-direction: column;
        padding: 20px;
    }

    .socials {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .hero-text {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    ul.show {
        display: block;
        text-align: center;
        padding-right: 30px;
        width: auto;
    }

    nav {
        height: 20%;
        justify-content: flex-end;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .logo {
        display: none;
    }

    .phone-image {
        display: block;
    }

    .project-image {
        margin: 0;
        width: 200px;
        height: 200px;
    }

    .project-card {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .sub-section-alternative {
        padding: 0;
    }

    .subtext {
        text-align: center;
    }

    hr {
        margin: 0;
        width: 100%;
    }

    .contact input, .contact textarea, .contact button {
        padding: 5px;
    }

    .email-box {
        font-size: 10px;
    }

    .hero {
        padding: 0;
    }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    section {
        height: auto;
        width: 100%;
    }

    .phone-image {
        display: none;
    }

    ul {
        font-size: 20px;
    }

    .hero {
        height: auto;
    }

    .button {
        width: 100px;
        height: 30px;
        border-radius: 40px;
        text-align: center;
        background-color: coral;
        font-size: 16px;
        font-weight: 300;
        padding-top: 2.5px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 480px) {
    .phone-image {
        display: none;
    }

    h2 {
        font-size: 30px;
    }

    .title {
        font-size: 40px;
        margin-top: 20px;
    }

    ul {
        font-size: 20px;
    }

    nav {
        height: 25%;
    }

    .hero-area {
        height: 75%;
    }


    .headshot {
        width: 250px;
        height: 250px;
    }

    .headshot-transition {
        width: 300px;
        height: 300px;
    }

}

